<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<!-- Page Content -->
<div class="container">
    <div class="jumbotron">
        <h1>Financiable</h1>
        <h3>Dashboard</h3>
        <hr>
    </div>


    <div class = "budgetSummary">
    <h4>{{User.Budgets.[0].month}} Summary</h4>
        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge">{{User.Goals.[0].targetGoal}}</span>
                Target Goal:
            </li>
            <li class="list-group-item">
                <span class="badge">{{User.Budgets.[0].earnings}}</span>
                Monthly Earnings:
            </li>
            <li class="list-group-item">
                <span class="badge">{{savings}}</span>
                You Saved:
            </li>


        </ul>
    </div>

    <div class = "budgetSummary">
        <h4>{{User.Expenses.[0].month}} Expenses</h4>
        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge">{{User.Expenses.[0].groceries}}</span>
                Groceries:
            </li>
            <li class="list-group-item">
                <span class="badge">{{User.Expenses.[0].gas}}</span>
                Gas:
            </li>
            <li class="list-group-item">
                <span class="badge">{{User.Expenses.[0].mortgage}}</span>
                Mortgage:
            </li>
            <li class="list-group-item">
                <span class="badge">{{User.Expenses.[0].utilities}}</span>
                Utilities:
            </li>
            <li class="list-group-item">
                <span class="badge">{{User.Expenses.[0].miscellaneous}}</span>
                Miscellaneous:
            </li>
            <li class="list-group-item">
                <span class="badge">{{totalExpenses}}</span>
                Total Expenses:
            </li>



        </ul>
    </div>


        <form action="/dashboard/{{User.id}}/{{User.Budgets.[0].month}}/edit" method="GET">
            <button type="submit" class="btn btn-primary btn-md"> Edit </button>
        </form>



        <form action="/{{User.id}}/goal" method="GET">
            <button type="submit" class="btn btn-primary btn-md"> Change Monthly Goal </button>
        </form>



        <form action="/{{User.id}}/add" method="GET">
            <button type="submit" class="btn btn-primary btn-md"> Add Month </button>
        </form>


</div>


<!-- Navigation -->
<form action="/logout" class="logout" method="GET">
    <button type="submit" class="btn bg-danger btn-lg"> Log Out</button>
</form>


